/*  Reinicio de Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

.anim {
  box-shadow: 10px 10px 20px 10px;
}

.titulo {
  color: red;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  padding: 20px;
}
.titulo__sombra {
  color: black;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px red;
  padding: 10px;
}
.titulo__centrado {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
.titulo__negro {
  text-align: center;
  font-size: 20px;
  list-style: none;
  border: solid 1px black;
  background-color: black;
  color: white;
}

.article__noticias {
  animation: mover-caja 4s linear 0.3s 1 normal forwards;
}
@keyframes mover-caja {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Encabezado */
.encabezado {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(80px, 5vh) 60px;
  background-color: black;
  margin: 5px;
  color: white;
  height: 200px;
}
.encabezado h1 {
  display: flex;
  padding: 10px;
  align-items: baseline;
  font-size: 26px;
  flex-wrap: wrap;
  border-radius: 5px;
  gap: 10px;
}
.encabezado li a {
  color: white;
  text-decoration: none;
  font-style: inherit;
  margin: 5px;
  font-size: 18px;
}
.encabezado li a:hover {
  color: red;
}

nav input {
  display: none;
}
nav input:checked ~ ul {
  display: block;
}
nav label {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}
nav li {
  display: block;
  background: black;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px black;
}
nav ul {
  display: none;
}

.form-cab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 50px;
}
.form-cab form {
  height: 50px;
  width: 50px;
  max-width: 500px;
}
.form-cab input {
  width: 160px;
  height: 27px;
  flex: 1;
  padding: 10px;
  border: none;
}
.form-cab button {
  background-color: black;
  font-size: 15px;
  color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  border: 7px outset red;
  border-radius: 10px;
}
.form-cab button:hover {
  background-color: red;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .encabezado h1 {
    font-size: 30px;
    align-items: center;
    justify-content: flex-start;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, serif;
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
  }
  nav label {
    display: none;
  }
  .form-cab {
    padding-left: 10px;
  }
  .form-cab input {
    width: 250px;
    height: 30px;
  }
  .form-cab form {
    padding-top: 100px;
  }
}
@media (min-width: 1025px) {
  .encabezado h1 {
    font-size: 35px;
    align-items: center;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, serif;
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
  }
  nav label {
    display: none;
  }
  .form-cab {
    padding-left: 20px;
  }
  .form-cab input {
    width: 250px;
    height: 30px;
  }
}
/* Tarjeta de compras */
.card {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}
.card img {
  max-width: 100%;
  height: auto;
}
.card img:hover {
  transform: scale(1.5);
  transition-duration: 2s;
  transition-delay: 0.5s;
}
.card h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.buttons button {
  background-color: red;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.buttons button:hover {
  background-color: green;
}

.tarj {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}
.tarj h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.sponsor-list a {
  margin: 10px;
}
.sponsor-list img {
  max-width: 150px;
  max-height: 100px;
}
.sponsor-list img:hover {
  transform: scale(1.2);
}

/* Carrusel de fotos */
.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(300px + 3em);
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
}
.slide-item img {
  display: block;
  height: 100%;
  width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: grey;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
.slide #slide-1:checked ~ .control-1,
.slide #slide-2:checked ~ .control-2,
.slide #slide-3:checked ~ .control-3 {
  display: block;
}

footer {
  background-color: black;
  color: white;
}
footer h4 {
  text-align: left;
  border-radius: 5px;
}
footer .fila {
  display: flex;
  justify-content: space-between;
}
footer .col {
  width: 50%;
  padding: 10px;
}
footer .col input {
  background-color: black;
  font-size: 15px;
  color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  border: 7px outset red;
  border-radius: 10px;
}
footer .col input:hover {
  background-color: red;
}
footer .redes {
  font-size: 15px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media (min-width: 1025px) {
  footer .col {
    display: flex;
    justify-content: center;
  }
}
.inicio {
  font-size: 1rem;
  padding: 2em 1em;
  background-image: url(../Img/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.inicio article {
  padding: 20px;
  outline: none;
  cursor: pointer;
}

.registro {
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.registro h1 {
  text-align: center;
  padding-bottom: 100px;
  font-size: 80px;
  text-shadow: 40px 30px 10px black;
}
.registro h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 40px;
}
.registro form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registro form a {
  color: white;
  font-size: 17px;
}
.registro form a:hover {
  color: red;
}
.registro label {
  margin-top: 10px;
}
.registro input {
  border-radius: 5px;
  border: none;
  padding: 10px;
}
.registro button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}
.registro button:hover {
  background-color: red;
}

@media (min-width: 1025px) {
  .inicio {
    gap: 70px;
    justify-content: space-between;
  }
  .inicio article {
    outline: none;
    cursor: pointer;
  }
  .registro {
    width: 100%;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    max-height: 500px;
    padding-left: 130px;
  }
  .registro h2 {
    text-align: center;
  }
  .registro form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .registro label {
    margin-top: 10px;
  }
  .registro input {
    border-radius: 5px;
    border: none;
    padding: 10px;
  }
  .registro button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
  }
  .registro button:hover {
    background-color: red;
  }
}
.contenedor {
  font-size: 1rem;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
.contenedor li {
  padding: 10px;
}
.contenedor p {
  padding: 10px;
}

.article {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.article__seccion {
  border: solid 1px black;
  background: rgb(235, 4, 4);
  background: linear-gradient(0deg, rgb(235, 4, 4) 7%, rgb(236, 236, 236) 29%, rgb(255, 0, 0) 78%, rgb(255, 255, 255) 98%);
}
.article__partidos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(80px, 5vh) 60px;
  background-color: black;
  margin: 5px;
  gap: 15px;
  color: white;
  height: 170px;
  text-align: center;
  align-items: center;
  font-size: 17px;
}
.article__partidos picture {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.article__video {
  width: 100%;
  height: 300px;
}
.article__img {
  width: 100%;
  height: 100%;
}
.article__noticias {
  text-align: center;
}
.article__noticias h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  color: #000000;
  font-weight: normal;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: lowercase;
}
.article__noticias figcaption {
  font-size: 18px;
}
.article__button {
  background-color: black;
  color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}
.article__button:hover {
  background-color: red;
  font-size: 20px;
  transition-duration: 1s;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .noti {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .article {
    font-size: 15px;
    padding: 15px;
  }
  .article-input {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  .article__partidos {
    font-size: 19px;
  }
  .article__divisor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .article__noticias {
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1025px) {
  .noti {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .article__noticias {
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 100%;
  }
}
.contenedor {
  font-size: 1rem;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
.contenedor li {
  padding: 10px;
}
.contenedor p {
  padding: 10px;
}

.futbol {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 39%, rgb(0, 0, 0) 90%);
  color: white;
  font-family: Arial;
}
.futbol:hover {
  transform: scale(1.1);
  transition-duration: 5s;
  transition-delay: 0 0.5s;
}

.video {
  padding: 30px;
  min-height: 500px;
  height: 100%;
  max-width: 800px;
  width: 100%;
}

.article {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.article__titulo {
  padding: 10px;
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
}
.article__img {
  width: 100%;
  height: 100%;
}
.article__noticias {
  text-align: center;
}
.article__noticias h4 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  color: #000000;
  font-weight: normal;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: lowercase;
}
.article__noticias p {
  font-size: 19px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .video {
    padding-left: 85px;
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: 500px;
    height: 100%;
    max-width: 700px;
    width: 100%;
  }
  .article {
    font-size: 15px;
    padding: 15px;
  }
  .article__noticias {
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .video {
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: 500px;
    height: 100%;
    max-width: 950px;
    width: 100%;
  }
  .article {
    float: left;
    width: 50%;
  }
  .article__noticias {
    width: 100%;
    text-align: center;
  }
}
.contenedor {
  font-size: 1rem;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
.contenedor li {
  padding: 10px;
}
.contenedor p {
  padding: 10px;
}

.article {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.article__img {
  width: 100%;
  height: 100%;
}
.article__noticias {
  text-align: center;
}

.acceso {
  padding: 40px;
  position: relative;
}
.acceso .mas {
  height: 20px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.acceso h2 {
  color: white;
  font-weight: 700;
  padding: 40px 0 10px 0;
  text-transform: uppercase;
  font-size: 17px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: inherit;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.buttons button {
  background-color: red;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.buttons button:hover {
  background-color: green;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .article {
    font-size: 15px;
    padding: 15px;
  }
  .article__divisor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .article__noticias {
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
  }
  .acceso {
    padding: 40px;
    position: relative;
  }
  .acceso .mas {
    height: 50px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .acceso h2 {
    color: white;
    font-weight: 700;
    padding: 40px 0 10px 0;
    text-transform: uppercase;
    font-size: 25px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: inherit;
  }
}
@media (min-width: 1025px) {
  .article {
    float: left;
    width: 50%;
  }
  .article__divisor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .article__noticias {
    width: 100%;
    text-align: center;
  }
  .acceso {
    padding: 40px;
    position: relative;
  }
  .acceso .mas {
    height: 80px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .acceso h2 {
    color: white;
    font-weight: 700;
    padding: 40px 0 10px 0;
    text-transform: uppercase;
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: inherit;
  }
}
.socios {
  font-size: 1rem;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  background-image: url(../Img/socios.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.socios li {
  padding: 10px;
}
.socios p {
  padding: 10px;
}

.article {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.article__img {
  width: 100%;
  height: 100%;
}
.article__form {
  text-align: center;
  border: solid 5px black;
  box-shadow: 10px 5px 20px red;
}
.article__form-input {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}
.article__socios {
  font-weight: 700;
  color: white;
  font-family: "roboto" sans-serif;
  padding-bottom: 30px;
  margin: 20px;
  font-size: 17px;
}
.article__button {
  background-color: black;
  color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}
.article__button:hover {
  background-color: red;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .contenedor__1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .article {
    font-size: 15px;
    padding: 15px;
  }
  .article__form {
    text-align: center;
    border: solid 5px black;
  }
  .article__form-input {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  .article__button {
    background-color: black;
    color: white;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  .article__button:hover {
    background-color: red;
  }
}
@media (min-width: 1025px) {
  .contenedor__1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .article {
    width: 50%;
    float: left;
  }
  .article__socios {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 20px;
    font-size: 17px;
    letter-spacing: 1px;
    width: 50%;
    height: 100%;
  }
  .article__form {
    align-items: center;
    border: solid 5px black;
  }
  .article__form-input {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}
.contenedor {
  font-size: 1rem;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
.contenedor li {
  padding: 10px;
}
.contenedor p {
  padding: 10px;
}

.article {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.article__img {
  width: 100%;
  height: 100%;
}
.article__noticias {
  text-align: center;
}
.article__video {
  width: 100%;
  height: 300px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .article {
    font-size: 15px;
    padding: 15px;
  }
  .article__noticias {
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
  }
  .article__divisor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1025px) {
  .article {
    float: left;
    width: 50%;
  }
  .article__noticias {
    width: 100%;
    text-align: center;
  }
  .article__noticias__2 {
    text-align: center;
    width: 67.5%;
    padding: 5px;
  }
  .article__divisor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=styles.css.map */
