footer{
    background-color: black;
    color: white;

    & h4{
        text-align: left;
        border-radius: 5px;
    }

    .fila{
        display: flex;
        justify-content: space-between;
    } 
    .col{
        width: 50%;
        padding: 10px;

        & input{
            background-color: black;
            font-size: 15px;
                color: white;
                margin:5px;
                padding:5px;
                cursor: pointer;
                font-weight: bold;
                &:hover{
                    background-color: red;
                }
            border: 7px outset red;
            border-radius: 10px;
        }
    } 
    .redes{
        font-size: 15px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
}
@media (min-width:1025px){
    footer{
    .col{
        display: flex;
        justify-content: center;
    }
}
}