/* Encabezado */
.encabezado{
    display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: minmax(80px,5vh)60px;
   background-color: black;
   margin: 5px;
   color: white;
   height: 200px;


    & h1{
        display: flex;
        padding: 10px;
        align-items: baseline;
        font-size: 26px;
        flex-wrap: wrap;
        border-radius: 5px;
        gap: 10px;
    }

   li a{
    color: white;
    text-decoration: none;
    font-style: inherit;
    margin: 5px;
    font-size: 18px;
    
    &:hover{
        color:red;
    }
   }
  }
    nav{
        input{
            display: none;

            &:checked ~ ul{
                display: block;
            }
        }
        label {
            display: inline-block;
            border: 1px solid black;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-weight: bold;
            text-align: center;
            user-select: none;
          }
          li {
            display: block;
            background:black;
            margin: 0;
            padding: 10px;
            list-style: none;
            border-bottom: 1px black;
          }
        ul{
            display: none;
        }
    }
    .form-cab{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding-top: 50px;

      & form{
        height: 50px;
        width: 50px;
        max-width: 500px;
      }

      & input{
        width: 160px;
        height: 27px;
        flex: 1;
        padding: 10px;
        border: none;
      }

      & button{
        background-color: black;
        font-size: 15px;
            color: white;
            margin:5px;
            padding:5px;
            cursor: pointer;
            font-weight: bold;
            &:hover{
                background-color: red;
            }
        border: 7px outset red;
        border-radius: 10px;
      }
    }
    @media(min-width:600px)and (max-width:1024px){
        .encabezado{
    
            & h1{
               font-size: 30px;
                align-items: center;
                justify-content: flex-start;
              
            }
          }
          nav {
            ul {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-family: Georgia, serif;
                font-size: 30px;
                color: #000000;
                font-weight: 700;
                text-decoration: none solid rgb(68, 68, 68);
                font-style: normal;
                font-variant: small-caps;
           }
        
           & label {
            display: none;
          }
        }
        .form-cab{
          padding-left: 10px;
          & input{
            width: 250px;
            height: 30px;
          }

            & form{
              padding-top: 100px;
            
            }
         
        }
    }
    @media (min-width:1025px){
      .encabezado{
    
             & h1{
            font-size: 35px;
            align-items: center;
            justify-content: center;
            }
        }
      
        nav {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-family: Georgia, serif;
            font-size: 30px;
            color: #000000;
            font-weight: 700;
            text-decoration: none solid rgb(68, 68, 68);
            font-style: normal;
            font-variant: small-caps;
       }
    
       & label {
        display: none;
      }
        }
        .form-cab{
          padding-left: 20px;

          & input{
            width: 250px;
            height: 30px;
          }
        }
    }